<div class="container">
  <footer ilass="py-3 my-4">
    <hr>
    <p class="text-center text-muted" >
        <strong>
            Copyright &copy; 2022 - <%= Time.now.year %> WorkPlan Inc 
            | All rights reserved.
        </strong>
    </p>
  </footer>
</div>